.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: rotate .3s linear forwards;
    animation-delay: .2s;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #1f1f1f !important;
}

.makeStyles-general-2 {
  background-color: #1f1f1f !important;
}

.MuiSvgIcon-fontSizeMedium {
  color: yellow;
  font-size: 30px;
}

.MuiSelect-icon{
  color: yellow !important;
}

.Mui-selected {
  color: yellow !important;
  background-color: rgba(92, 85, 85, 0.288)!important;
}
#root>div.makeStyles-general-2>div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-1.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-4.MuiGrid-grid-lg-4.MuiGrid-grid-xl-6.makeStyles-container-5 {
  padding-left: 10px !important;
}

.MuiTypography-body1 {
  font-size: 14px !important;
}

.css-j3tbyy-MuiGrid-root>.MuiGrid-item {
  padding-left: 0px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
}

.MuiSlider-root.MuiSlider-colorPrimary,
.Mui-focused {
  color: yellow !important;
}

.MuiTabs-indicator {
  background-color: #747070 !important;
}

.MuiGrid-item h6 {
  font-size: 16px !important;
  line-height: 180% !important;
  font-weight: 400 !important;
}

.MuiGrid-spacing-xs-3 {
  padding-left: 24px !important;
  padding-top: 14px !important;
  padding-right: 0px !important;
}

.MuiOutlinedInput-root:hover  .MuiOutlinedInput-notchedOutline{
  border-color: yellow !important;
  background-color: rgba(92, 85, 85, 0.288);
}
.MuiTextField-root .MuiOutlinedInput-notchedOutline {
  border-color: yellow !important;
  background-color: rgba(92, 85, 85, 0.288);
}
.MuiTextField-root .MuiInputLabel-root {
  color: yellow !important;
}
.MuiTextField-root .MuiInputLabel-root.MuiInputLabel-shrink {
  color: yellow !important;
}

.MuiSwitch-root .MuiSwitch-thumb {
  color: yellow;
}


.MuiMenu-paper {
  background-color: rgb(58, 53, 53)!important;
  color: white !important;
  border: solid 3px grey !important;
  margin-top: 5px;
}

input[type="file"] {
  /* display: none; */
 }

 .custom-file-upload {
  background-color: yellow;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
 }
